*{
    margin:0 ; 
    padding:0 ; 
    box-sizing:border-box; 
}
#root {
display : flex;
justify-content:center;
align-items:center ;
height:100vh ;
}
#root >div {
width: 500px;
height: 80vh;
}
nav{
    background-color:rgb(37, 44, 64) ;
    display: flex ;
    padding: 0 20px ;
    height: 50px;
    justify-content: space-between;
    align-items:center; 
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:150px
}
.logo img {
    width:70px ;
}
nav h1 {
     color :rgb(129, 184, 233) ;
}
nav p {
    color:white ;
}
section {
    display:flex;
    flex-direction: column;
    justify-content: center ;
    height: 100%;
    background-color: rgb(40, 51, 82);
    color:white ;
    padding: 30px 50px
}
section ul {
    margin : 50px 0 0 70px;
}
section ul li{
    position: relative;
    list-style-type:none;
    display: block;
    margin-bottom: 10px;
}
section ul li::before{
    content:"" ;
    width: 10px;
    height:10px ;
    top:5px ;
    left :-25px ;
    border-radius : 50%;
    position:absolute ;
    background-color: rgb(0, 162, 255);
}
